   //COLORES DE LAS PAGINAS
    $colorprincipal: #ffe375;
    $primerapagina: #e96a6a;
    $segundapagina: #72bc5d;
    $tercerapagina: #fbb03c;
    $cuartapagina: #05a89f;
    //TAMAÑO
    $movile:430px;
