//Import
@import "encabezado-piedepagina";
@import "variables";
@import "mediaindex";


*{
    margin: 0;
    padding: 0;
}

// PRIMERA PAGINA OPERACIONES BASICAS
#contenido-operacionesbasicas{
    background-color:  #e96a6a;
    text-align: center;
}
// SEGUNDA PAGINA FRACCIONES
#contenido-fraccion{
    background-color:#72bc5d;
    text-align: center;    
}
// TERCERA PAGINA AREAS Y PERIMETROS
#areasyperimetros{
    background-color: $tercerapagina;
    text-align: center;
}
//CUARTA PAGINA TABLAS DE MULTIPLICAR
#tablasdemultiplicar{
    gap: 20px;
    background-color: $cuartapagina;
    padding: 20px;

}
#tablasdemultiplicar div{
    display: grid;
    padding: 10px;
    text-align: center;
    ul{
        list-style: none;
    }
}
.tablaimpar{
    background-color: $primerapagina;
}
.tablapar{
    background-color: $tercerapagina;
}
.diez{
    background-color: $tercerapagina;
    grid-column: 2/3;
}


