#encabezado-scss {
  width: 100%;
  height: auto;
}
#encabezado-scss .img-encabezado {
  width: 100%;
  height: auto;
}
#encabezado-scss .titulo-encabezado {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #ffe375;
}

footer {
  background-color: #ffe375;
}
footer .piedepagina h3 {
  text-align: center;
  font-size: 1cm;
}
footer .piedepagina p {
  text-align: center;
  font-size: 6mm;
  padding: 5mm;
}

#fin-paginas {
  text-align: center;
}
#fin-paginas .fin-ul li {
  list-style: none;
}
#fin-paginas .fin-ul a {
  color: black;
}

#contenido-scss {
  text-align: center;
}

.contenido-link {
  text-decoration: none;
  color: black;
}

.contenido-link h2 {
  font-size: 1cm;
}

.contenido-link h4 {
  font-size: 6mm;
  padding: 5mm;
}

.contenido-img {
  width: auto;
  height: 5cm;
  margin: 0.5cm;
}

.operacionesbasicas-div {
  background-color: #e96a6a;
}

@media (hover: hover) {
  .operacionesbasicas-div:hover {
    border: solid 3px;
  }
  .operacionesbasicas-div:hover .contenido-img {
    transform: scale(1.1);
  }
}
@media (max-width: 430px) {
  .operacionesbasicas-div {
    background: radial-gradient(white, #05a89f);
  }
}
.fracciones-div {
  background-color: #72bc5d;
}

@media (hover: hover) {
  .fracciones-div:hover {
    border: solid 3px;
  }
  .fracciones-div:hover .contenido-img {
    transform: scale(1.1);
  }
}
@media (max-width: 430px) {
  .fracciones-div {
    background: radial-gradient(white, #fbb03c);
  }
}
.areasyperimetros-div {
  background-color: #fbb03c;
}

@media (hover: hover) {
  .areasyperimetros-div:hover {
    border: solid 3px;
  }
  .areasyperimetros-div:hover .contenido-img {
    transform: scale(1.1);
  }
}
@media (max-width: 430px) {
  .areasyperimetros-div {
    background: radial-gradient(white, #72bc5d);
  }
}
.tablas-div {
  background-color: #05a89f;
}

@media (hover: hover) {
  .tablas-div:hover {
    border: solid 3px;
  }
  .tablas-div:hover .contenido-img {
    transform: scale(1.1);
  }
}
@media (max-width: 430px) {
  .tablas-div {
    background: radial-gradient(white, #e96a6a);
  }
}
@media (max-width: 430px) {
  .contenido-img {
    min-width: 50%;
    border-radius: 50%;
  }
  .fraciones-contenido {
    width: 300px;
  }
}
@media (max-width: 430px) {
  img {
    width: 80%;
    height: auto;
  }
  img {
    width: 80%;
    height: auto;
  }
}
@media (min-width: 431px) {
  img {
    width: 100%;
    height: auto;
    text-align: center;
  }
  img {
    width: 80%;
    height: auto;
    text-align: center;
  }
}
@media (max-width: 430px) {
  #tablasdemultiplicar {
    display: block;
  }
  ul {
    font-size: 25px;
  }
  .tablaimpar .input-tablas + ul.tablas {
    display: none;
  }
  .tablaimpar input:checked + ul.tablas {
    display: block;
  }
  .tablapar .input-tablas + ul.tablas {
    display: none;
  }
  .tablapar input:checked + ul.tablas {
    display: block;
  }
}
@media (min-width: 431px) {
  #tablasdemultiplicar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  ul {
    font-size: 20px;
  }
  .input-tablas {
    display: none;
  }
}
@media (min-width: 950px) {
  #tablasdemultiplicar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
* {
  margin: 0;
  padding: 0;
}

#contenido-operacionesbasicas {
  background-color: #e96a6a;
  text-align: center;
}

#contenido-fraccion {
  background-color: #72bc5d;
  text-align: center;
}

#areasyperimetros {
  background-color: #fbb03c;
  text-align: center;
}

#tablasdemultiplicar {
  gap: 20px;
  background-color: #05a89f;
  padding: 20px;
}

#tablasdemultiplicar div {
  display: grid;
  padding: 10px;
  text-align: center;
}
#tablasdemultiplicar div ul {
  list-style: none;
}

.tablaimpar {
  background-color: #e96a6a;
}

.tablapar {
  background-color: #fbb03c;
}

.diez {
  background-color: #fbb03c;
  grid-column: 2/3;
}/*# sourceMappingURL=main.css.map */